<div id="<%= dom_id alert %>">
  <p>
    <strong>Symbol:</strong>
    <%= alert.symbol %>
  </p>

  <p>
    <strong>Threshold:</strong>
    <%= alert.threshold %>

    <% if alert.active? %>(<%= alert.price_threshold %>)<% end %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= alert.direction %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= alert.status %>
  </p>
</div>
