<%= form_with(model: alert) do |form| %>
  <% if alert.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
        <% alert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :symbol, style: "display: block" %>
    <%= form.select :symbol, [["ETH->USDT", "ETHUSDT"], ["BTC->USDT", "BTCUSDT"]] %>
  </div>

  <div>
    <%= form.label :threshold, style: "display: block" %>
    <%= form.number_field :threshold %>
  </div>

  <div>
    <%= form.label :direction, style: "display: block" %>

    <%= form.radio_button :direction, "up" %>
    <%= form.label :direction, "up" %>

    <%= form.radio_button :direction, "down" %>
    <%= form.label :direction, "down" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
