<%= turbo_stream_from "alerts" %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Alerts" %>

<div style="display: flex; align-items: center">
  <h1 style="margin: 0 10px 0 0;">Alerts</h1>
  <%= link_to "New alert", new_alert_path, data: { turbo_frame: dom_id(Alert.new) } %>
</div>

<%= turbo_frame_tag Alert.new %>

<%= turbo_frame_tag "alerts" do %>
  <%= render @alerts %>
<% end %>

